body{
    font-family: "Google Sans",Arial,Helvetica,sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(77, 77, 77)
}
#menu{
    margin: 0px;
    padding: 0px;
    display:flex;
    background-color: rgb(49, 49, 49);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#menu .menu{
    margin: 0px;
    padding: 0px;
    height: fit-content;
    list-style-type: none;
    background-color: rgb(70, 70, 70);
    align-self: flex-end;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 1px solid rgb(87, 87, 87);
    border-left: 1px solid rgb(87, 87, 87);
    border-right: 1px solid rgb(87, 87, 87);
}

#menu .menu #menu-start{
    border-top-left-radius: 20px;
}

#menu .menu #menu-end{
    border-top-right-radius: 20px;
}

#menu .menu li{
   left: 0px;
    float: left;
    display: -webkit-box;
    color: rgb(189, 189, 189);
    padding-left: 18px;
    padding-top: 8px;
    padding-right: 18px;
    padding-bottom: 5px;
    text-align: center;
}

#menu img{
    width: 54px;
    height: 54px;
 }

#menu .menu li:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(39, 39, 39);
    cursor: pointer;
    
}

#menu .menu li:active{
    color: rgb(255, 255, 255);
    background-color: rgb(31, 134, 0);
    
}

#main-section{
  width: 100%;
  height: 100%;  
}

#main-section object{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}


#foot{
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 0;
    border-top: 1px solid rgb(87, 87, 87);
    padding: 0px;
    margin: 0px;
}
#foot #bottom-link{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#foot #bottom-link li{
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: .01562rem;
    line-height: 1.375rem;
    color: rgb(141, 141, 141);
}
#foot img{
    width: 54px;
    height: 54px;
}
#social-inner{

    border-top: 1px solid #636363;
    padding: 30px 0;
    width: 100%;
}

#social-inner h5{
padding: 0px;
margin-left: 15px;
margin-top: 0px;
margin-bottom: 15px;
margin-right: 5px;
color: #dddddd;
}
#social-inner ul{
    padding: 0px;
    margin: 0px;
list-style-type: none;

}

#social-inner ul li{
    float: left;
    margin-left: 15px;
}