h2{
    margin: 5px;
    padding: 0px;
    color: beige;
    font-size: 2.75rem;
    font-weight: 400;
    letter-spacing: -.01562rem;
}
#products #product-list li{
    display: block;
    float: left;
    background: #2b2b2b;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: min-content;
    float: left;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
   
}
#products #product-list li h3{
    padding: 0px;
    margin: 0px;
}
#products #product-list li img{
    width: 200px;
    height: 200px;
}